django==4.0.2
requests==2.25.1
# Requirements for django rest-framework
django-filter==2.4.0
djangorestframework==3.12.4
django-rest-auth==0.9.5
pytz==2021.3
# Fontawesome
fontawesomefree==6.0.0
# Swagger:
# uritemplate==3.0.1
# pyyaml==5.4.1
# Drivers para trabajar con Postgres en linux:
psycopg2-binary>=2.8
#https://github.com/django/django/blob/main/docs/intro/tutorial03.txt
#https://github.com/django-cms/django-cms